body {
	background: white;
	background-size: 400% 400%;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.header {
    padding: 60px;
    text-align: center;
    background: #171a21;
    color: white;
}

.header h1 {
    font-size: 40px;
}

.row {
    display: table;
}

.column {
    float: left;
    width: 46vw;
    padding: 10px;
    height: 99.5vh;
    display: block;
}

#scatterplot {
    width: 50vw;
    display: block;
    border: 2px solid black;
}

#barchart {
    height: 50vh;
    width: 46.5vw;
    display: block;
    border: 2px solid black;
}

#heatmap {
    height: 50vh;
    width: 46.5vw;
    display: block;
    border: 2px solid black;
}

.data svg {
    background-color: white;
}