body {
	background: white;
	background-size: 400% 400%;
	min-height: 100vh;
    width: 100%;
}

.header {
    padding: 5px;
    text-align: center;
    background: #171a21;
    color: white;
}

.header h1 {
    font-size: 40px;
}

.container {
    position: relative;
    display: grid;
    height: 80vh;
    grid-template-areas: 
    "A A A A A A A A  B B B B  C C C C C C C C"
    "A A A A A A A A  B B B B  C C C C C C C C"
    "A A A A A A A A  D D D D  C C C C C C C C"
    "A A A A A A A A  D D D D  C C C C C C C C";
}

.box-a {
    grid-area: A;
}

.box-b {
    grid-area: B;
}

.box-c {
    grid-area: C;
}

.box-d {
    grid-area: D;
}

.row {
    height: 49vh;
    display: block;
}

.column {
    float: left;
    width: 40vw;
    padding: 5px;
    height: 99vh;
    display: block;
}

.columnMiddle {
    float: left;
    width: 15vw;
    padding: 5px;
    height: 99vh;
    display: block;
}

#scatterplot {
    display: block;
    height: 100%;
    border: 2px solid black;
}

#filteroptions {
    display: block;
    border: 2px solid black;
}

#barchart {
    display: block;
    height: 100%;
    border: 2px solid black;
}

#heatmap {
    display: block;
    height: 100%;
    border: 2px solid black;
    margin-top: 0;
    margin-bottom: 80;
    margin-left: 200;
    margin-right: 10;
}

.data svg {
    background-color: white;
}